# Flash and Partition Table
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Zigbee Configuration
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZC_ROLE=y
CONFIG_ZB_TRACE_LEVEL=1
# Subtype 0x80 or matches 'zb_storage' in CSV
CONFIG_ZB_NVRAM_WORKSPACE_PARTITION_SUBTYPE=0x02

# Bluetooth Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_BTU_TASK_STACK_SIZE=4096

# Coexistence (Crucial for C6)
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000